/* App-specific styles */
.app {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	max-width: 800px;
	padding: 0 6px;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-ms-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
}


